*{
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

p{
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(209, 232, 138, 0.256);
}

a{
    background-color: rgb(105, 24, 74);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(181, 216, 78, 0.425);
    text-decoration: none;
}

a:hover{
    background-color: rgb(78, 27, 126);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(181, 216, 78, 0.425);
}